<div *ngIf="false" class="filter--container">
    <div class="filter--header">
        <h4>Filter Panel</h4>
        <img src="assets/icons/close.svg" alt="" class="close-button">
    </div>
    <hr>
    <div class="filter--body">
        <div class="left--filter--body">
            <div class="menu">Level</div>
            <div class="menu">Message</div>
            <div class="menu">Resource ID</div>
            <div class="menu">Timestamp</div>
            <div class="menu">Trace ID</div>
            <div class="menu">Span ID</div>
            <div class="menu">Commit</div>
            <div class="menu">Parent Resource ID</div>
        </div>
        <div class="body--divider"></div>
        <div class="right--filter--body">
            <h5>Level</h5>
            <div class="level--container">
                <label class="custom-checkbox"><input type="checkbox"><span class="checkbox-mark"></span> Success</label>
                <label class="custom-checkbox"><input type="checkbox"><span class="checkbox-mark"></span> Error</label>
                <label class="custom-checkbox"><input type="checkbox"><span class="checkbox-mark"></span> Warning</label>
            </div>
            <div class="menu">Message</div>
            <div class="menu">Resource ID</div>
            <div class="menu">Timestamp</div>
            <div class="menu">Trace ID</div>
            <div class="menu">Span ID</div>
            <div class="menu">Commit</div>
            <div class="menu">Timestamp</div>
            <div class="menu">Trace ID</div>
            <div class="menu">Span ID</div>
            <div class="menu">Commit</div>
            <div class="menu">Timestamp</div>
            <div class="menu">Trace ID</div>
            <div class="menu">Span ID</div>
            <div class="menu">Commit</div>
            <div class="menu">Parent Resource ID</div>
        </div>
    </div>
    <hr>
    <div class="filter--footer">
        <a>Reset</a>
        <button>Apply</button>
    </div>
</div>